* {
    margin: 0;
    padding: 0;
}

/* Header */

#cabeca {
    height: 10%;
    background: black;
}

#cabeca h1 {
    color: aliceblue;
}

/* Div PAI */

#pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    width: 80%;
    height: auto;
    
}

/*Div filha da Pesquisa*/

.cont-pesq {
   background: linear-gradient(150deg, rgb(71, 13, 163), rgb(5, 18, 31));
   width: 85%;
   margin: 0.5rem 1rem 1rem 8rem;
   border-radius: 2rem;
   border-color: aliceblue;
   border: 3px;
   align-items: center;
   flex-direction: column;
   height: 30rem;
}

/*h1/h2 da Pesquisa*/

.cont-pesq h1, h2 {
    margin: 2rem 1rem 1rem 1rem;
    color: aliceblue;
}

.cont-pesq input { 
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0f2542; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 2rem 1rem 5rem 1rem ;
    cursor: pointer;  
    
  
  }

  /* input pesquisa*/

  #search {
    
    text-align: center;
    color: blue;
        

  }